# 1.Merge Instacart Orders Data

In [1]:
import pandas as pd
import os

# Set the path to the main project folder
path = r'C:\Users\luis\Desktop\Carrer Foundry boot camp\Python Fundamentals for Data Analysts'

# Import the orders data with only necessary columns and optimized data types
df_ords = pd.read_csv(
    os.path.join(path, 'Data', 'Original Data', '4.3_orders_products', 'orders.csv'),
    usecols=['order_id', 'user_id', 'order_number', 'order_dow', 'order_hour_of_day', 'days_since_prior_order'],
    dtype={'order_id': 'int32', 'user_id': 'int32', 'order_number': 'int16', 'order_dow': 'int8', 'order_hour_of_day': 'int8', 'days_since_prior_order': 'float32'}
)

# Import the orders_products_prior data with only necessary columns and optimized data types
df_ords_prior = pd.read_csv(
    os.path.join(path, 'Data', 'Original Data', '4.6_orders_products_prior', 'orders_products_prior.csv'),
    usecols=['order_id', 'product_id', 'add_to_cart_order', 'reordered'],
    dtype={'order_id': 'int32', 'product_id': 'int32', 'add_to_cart_order': 'int16', 'reordered': 'int8'}
)

In [2]:
# Check the dimensions of the imported dataframes
print("Dimensions of df_ords:", df_ords.shape)
print("Dimensions of df_ords_prior:", df_ords_prior.shape)

Dimensions of df_ords: (3421083, 6)
Dimensions of df_ords_prior: (32434489, 4)

In [3]:
# Merge the dataframe with your df_ords dataframe, using sort=False to optimize the merging process
df_merged_large = df_ords.merge(df_ords_prior, on='order_id', indicator=True, sort=False)

In [4]:
# Check whether there was a full match between the two dataframes
merge_counts = df_merged_large['_merge'].value_counts()

In [5]:
print(merge_counts)

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [6]:
df_merged_large.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

# 2. Export Merged DataFrame to Pickle Format

In [7]:
# Set the path to the export folder
export_path = os.path.join(path, 'Data', 'Prepared Data', 'orders_products_combined.pkl')

# Export the merged dataframe to pickle format
df_merged_large.to_pickle(export_path)